.sprite-chat {
    background-image: url(../images/chat.png);
}

.sprite-compass {
    background-image: url(../images/compass.png);
}

.sprite-like {
    background-image: url(../images/like.png);
}

.sprite-padlock {
    background-image: url(../images/padlock.png);
}

.sprite-pie {
    background-image: url(../images/pie.png);
}

.sprite-search {
    background-image: url(../images/search.png);
}
