.chat {
	background-image: url(../images/chat.png);
}

.compass {
	background-image: url(../images/compass.png);
}

.like {
	background-image: url(../images/like.png);
}

.padlock {
	background-image: url(../images/padlock.png);
}

.pie {
	background-image: url(../images/pie.png);
}

.search {
	background-image: url(../images/search.png);
}
